<header class="hero-unit" id="banner">
    <div class="container">
        <img src="assets/images/banner.jpg" alt="I'm Yeoman">
    </div>
</header>
<hr>
<div class="container main">
    <!-- Ejemplo de tarjeta -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="thumbnail">
            <img src="assets/images/cañocristal.jpg" style="max-height: 200px;">
            <div class="caption">
                <h3>Caño Cristal</h3>
                <p>
                    Descripc&oacute;n
                </p>
                <p>
                    <span class="badge">300.000 COP</span>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" ng-click="$ctrl.verify()">Comprar</a>
                </p>
            </div>
        </div>
    </div>
    <!-- fin -->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="thumbnail">
            <img src="assets/images/cañocristal.jpg" style="max-height: 200px;">
            <div class="caption">
                <h3>Caño Cristal</h3>
                <p>
                    Descripc&oacute;n
                </p>
                <p>
                    <span class="badge">300.000 COP</span>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" ng-click="$ctrl.verify()">Comprar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="thumbnail">
            <img src="assets/images/cañocristal.jpg" style="max-height: 200px;">
            <div class="caption">
                <h3>Caño Cristal</h3>
                <p>
                    Descripc&oacute;n
                </p>
                <p>
                    <span class="badge">300.000 COP</span>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" ng-click="$ctrl.verify()">Comprar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="thumbnail">
            <img src="assets/images/cañocristal.jpg" style="max-height: 200px;">
            <div class="caption">
                <h3>Caño Cristal</h3>
                <p>
                    Descripc&oacute;n
                </p>
                <p>
                    <span class="badge">300.000 COP</span>
                </p>
                <p>
                    <a href="#" class="btn btn-primary" ng-click="$ctrl.verify()">Comprar</a>
                </p>
            </div>
        </div>
    </div>
</div>